body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.logo {
    width: 80px;
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #A18C54;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .dropdown-menu .dropdown-item:hover {color: #A18C54;}
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	

.navbar .btn {
    background-color: #003D79;
    color: white;
}

.navbar .btn:hover {
    background-color: white;
    border-color: #003D79;
    color: #003D79;
}

.navbar a {
    color: #003D79 !important;
}

.navbar a:hover {
    color: #A18C54 !important;
}

.navbar .search input {
    height: 40px;
    border-radius: 40px;
}

.navbar .btn {
    height: 40px;
    border-radius: 40px;
    border-color: #003D79;
}

.carousel-indicator-button {
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
    margin: 5px !important;
}

.slide-banner {
    margin-bottom:75px;
}

.sp .card {
    border: none;
    width: 8rem;
    color: #003D79;
    margin-right: 20px;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.sp a .card:hover {
    color: #A18C54;
}

.sp .card-title {
    font-size: small;
    padding: 7px;
}

.sp .card-body img {
    height: 58px;
}

.sp-noi-bat .card {
    align-items: center;
    border: none;
    width: 14rem;
    color: #003D79;
    margin: 6px;
}

.sp-noi-bat h6 {
    font-size: 15px;
    margin: 10px;
}

.sp-noi-bat img {
    height: 200px;
}

.sp-noi-bat .card:hover {
    color: #A18C54;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.sp-noi-bat h1 {
    text-align: center;
    color: #003D79;
    margin: 50px;
}

.song-xanh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.song-xanh img {
    width: 100%;
}

.truemart {
    margin-top: 50px;
}

.truemart .card {
    border: none;
    width: 35rem;
    margin: 0;
}

.truemart h2 {
    color: #003D79;
}

.truemart img {
    width: 50%;
}

.truemart a {
    background-color: #003D79;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.truemart a:hover {
    color: #003D79;
    background-color: white;
    border-color: #003D79;
}

.goc-sk .card {
    border: none;
    color: #003D79;
    margin: 10px;
}

.goc-sk h6 {
    margin-top: 10px;
}

.goc-sk .card:hover {
    color: #A18C54;
}

.text-inline h2 {
    color: #003D79;
    position: relative;
    z-index: 1;

    &:before {
        border-top: 3px solid #dfdfdf;
        content:"";
        margin: 0 auto; 
        position: absolute; 
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }

    span { 
        background: #fff; 
        padding: 0px 15px; 
    }
}

.goc-sk {
    margin-top: 50px;
}

.truyen-thong {
    margin-top: 50px;
}

footer a {
    text-decoration: none;
}

footer .row a:hover {
    color: #A18C54 !important;
}

footer .logo1 i {
    margin: 10px;
    font-size: 25px;
}

.facebook {
    color: #0866FF;
}

.instagram {
    color: #BD3A96;
}

.youtube {
    color: #FF0000;
}

footer .logo1 img {
    height: 50px;
}

footer .logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 50px;
}

.truyen-thong-3 .card {
    border: none;
    width: 43vh;
    color: #003D79;
}

.truyen-thong-3 .card-body {
    text-align: left;
}

.truyen-thong-3 img {
    /* width: 40vh; */
    width: 97%;
}

.truyen-thong-3 .card p {
    color: silver;
}

.truyen-thong-3 .card:hover {
    color: #A18C54;
}

.truyen-thong-4 {
    width: 57vh;
    margin-top: 15px;
}

.truyen-thong-4 div {
    margin-bottom: 25px;
}

.truyen-thong-4 div span {
    color: silver;
}

.truyen-thong-4 div a {
    color: #003D79;
}

.truyen-thong-4 div a:hover {
    color: #A18C54;
}

.truyen-thong-4 .btn {
    background-color: #003D79;
    color: white;
}

.truyen-thong-4 .btn:hover {
    background-color: white;
    border-color: #003D79;
    color: #003D79;
}



