body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans';
}

@media only screen and (max-width: 768px) {
    .container1 {
      width: 100%; 
      margin: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container1 {
    width: 90%; 
    margin: auto;
  }
}

@media only screen and (min-width: 992px) {
  .container1 {
      margin: auto;
    width: 85%; 
  }
}


.logo {
    width: 80px;
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #A18C54;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .dropdown-menu .dropdown-item:hover {color: #A18C54;}
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	

.navbar .btn {
    background-color: #003D79;
    color: white;
}

.navbar .btn:hover {
    background-color: white;
    border-color: #003D79;
    color: #003D79;
}

.navbar a {
    color: #003D79 !important;
}

.navbar a:hover {
    color: #A18C54 !important;
}

.navbar .search input {
    height: 40px;
    border-radius: 40px;
}

.navbar .btn {
    height: 40px;
    border-radius: 40px;
    border-color: #003D79;
}

.carousel-indicator-button {
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
    margin: 5px !important;
}

.slide-banner {
    margin-bottom:75px;
}

.sp .card {
    border: none;
    width: 8rem;
    color: #003D79;
    margin-right: 20px;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.sp .card {
    transition: .2s ease-in-out;
}

.sp a .card:hover {
    color: #A18C54;
    transform: scale(1.3);
}

.sp .card-title {
    font-size: small;
    padding: 7px;
}

.sp .card-body img {
    height: 58px;
}

.sp-noi-bat .card {
    align-items: center;
    border: none;
    width: 14rem !important;
    color: #003D79;
    margin: 6px;
}

.sp-noi-bat h6 {
    font-size: 15px;
    margin: 10px;
}

.sp-noi-bat img {
    width: 200px;
    transition: .3s ease-in-out;
}

.sp-noi-bat .card-img {
    height: 185px;
    overflow: hidden;
}

.sp-noi-bat .card:hover img {
    transform: scale(1.2);
}

.sp-noi-bat .card:hover {
    color: #A18C54;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}

.sp-noi-bat h1 {
    text-align: center;
    color: #003D79;
    margin: 50px;
}

.song-xanh img {
    border-radius: 15px;
} 

.song-xanh {
    margin-top: 15px;
    margin-bottom: 15px;
}

.truemart {
    margin-top: 50px;
}

.truemart .card {
    border: none;
}

.truemart h2 {
    color: #003D79;
}

.truemart a {
    background-color: #003D79;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.truemart a:hover {
    color: #003D79;
    background-color: white;
    border-color: #003D79;
}

.text-inline {
    color: #003D79;
    position: relative;
    z-index: 1;

    &:before {
        border-top: 3px solid #dfdfdf;
        content:"";
        margin: 0 auto; 
        position: absolute; 
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }

    span { 
        background: #fff; 
        padding: 0px 15px; 
    }
}

footer a {
    text-decoration: none;
}

footer .row a:hover {
    color: #A18C54 !important;
}

footer .logo1 i {
    margin: 10px;
    font-size: 25px;
}

.facebook {
    color: #0866FF;
}

.instagram {
    color: #BD3A96;
}

.youtube {
    color: #FF0000;
}

footer .logo1 img {
    height: 50px;
}

footer .logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 50px;
}

.truyen-thong-1 .card {
    border: none;
    color: #003D79;
}

.truyen-thong-1 h5 {
    text-align: left;
}

.truyen-thong-1 p {
    text-align: left;
    color: #003D79;
}

.truyen-thong-1 .card:hover .card-title{
    color: #A18C54;
}

.truyen-thong-1 .card-img {
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.truyen-thong-1 img {
    transition: .5s ease-in-out;
}

.truyen-thong-1 .card:hover img {
    transform: scale(1.1);
}

.truyen-thong-1 .caption {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
    transition: all 0.5s;
}

.truyen-thong-1 .card:hover .card-img .caption {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.truyen-thong-2 a {
    color: #003D79;
}

.truyen-thong-2 span {
    color: #003D79;
}

.truyen-thong-2 a:hover {
    color: #A18C54;
}


.truyen-thong-2 .btn {
    background-color: #003D79;
    color: #dfdfdf;
}

.truyen-thong-2 .btn:hover {
    color: #003D79;
    background-color: white;
    border-color: #003D79;
}

.truyen-thong-2 div {
    margin-top: 15px;
}

.gsk .card:hover {
    color: #A18C54;
}

.gsk .card {
    border: none;
    text-align: center;
    color: #003D79;
}

.gsk img {
    transition: .5s ease-in-out;
}

.gsk .card-img {
    overflow: hidden;
    border-radius: 15px;
}

.gsk .card:hover .card-img>img {
    transform: scale(1.2);
}

.gsk {
    margin-top: 40px;
    margin-bottom: 30px;
}

.gsk .text-inline {
    margin-bottom: 15px;
}


